<div class="meal-events">

  <h3><%= @title %></h3>
  <p class="description"><%= @description %></p>

  <button id="create-button"><%= @create_button_title %></button>
  
  <%= erb :"shared/table" %>
</div>

<div class="modal" id="meal-event-modal">
  <div class="modal-content">
    <h2>Create Meal Event</h2>
    <div class="form-container">
      <form class="meal-event-form" action="/create-meal-event" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">

        <label for="min-foods">Min Foods:</label>
        <input type="number" id="min-foods" name="min-foods">

        <label for="max-foods">Max Foods:</label>
        <input type="number" id="max-foods" name="max-foods">

        <%= erb :"shared/recurrence" %>

        <div class="button-group">
          <button type="button" id="cancel-button">Cancel</button>
          <input type="submit" value="Submit">
        </div>

      </form>
    </div>
  </div>
</div>
