<div id="sidebar-container" data-sidebar-links='<%= SIDEBAR_LINKS.to_json %>' data-admin-links='<%= ADMIN_LINKS.to_json %>'>
  <div class="sidebar-heading">
    cvHealth
  </div>
  <% if @current_user && @current_user.admin? %>
    <div class="list-group-item no-hover">
      <input type="checkbox" id="adminMenuCheckbox">
      <label for="adminMenuCheckbox">Admin Menu</label>
    </div>
  <% end %>
  <div id="menuContainer">
    <% SIDEBAR_LINKS.each do |path, details| %>
      <a href="/<%= path %>" class="list-group-item sidebar-link">
        <i class="<%= details.fetch(:icon) %>"></i>
        <%= details.fetch(:title) %>
      </a>
    <% end %>
  </div>
</div>
