<div class="header">
  <div class="search-tag-container">
    <div class="search-bar">
      <div class="breadcrumb-container">
        <span class="breadcrumb">
          <img src="https://via.placeholder.com/150" alt="Thumbnail" style="width: 20px; height: 20px; margin-right: 5px;">cv
        </span>
        <span class="breadcrumb">
          <img src="https://via.placeholder.com/150" alt="Thumbnail" style="width: 20px; height: 20px; margin-right: 5px;">cvNutrition
        </span>
        <span class="breadcrumb">
          <img src="https://via.placeholder.com/150" alt="Thumbnail" style="width: 20px; height: 20px; margin-right: 5px;">Nutritional Components
        </span>
      </div>
      <input type="search" name="search" placeholder="Search...">

    </div>
    <div class="tag-container">
      <span class="tag"><img src="https://via.placeholder.com/150" alt="Thumbnail" style="width: 20px; height: 20px; margin-right: 5px;">
        Create Nutritional Component
      </span>
      <span class="tag"><img src="https://via.placeholder.com/150" alt="Thumbnail" style="width: 20px; height: 20px; margin-right: 5px;">Tag 2</span>
    </div>

  </div>
  <div id="user-icon" data-username="<%= current_user ? current_user[:username] : '' %>" data-user-id="<%= current_user ? current_user[:id] : '' %>" data-profile-picture="<%= current_user ? current_user[:profile_picture] : '' %>" data-signed-in="<%= session.fetch("user_id", nil) ? "true" : "false" %>">
    <% if current_user %>
      <% bucket = "cisco-vlahakis.appspot.com" %>
      <img id="user-image" src="https://storage.googleapis.com/<%= bucket %>/uploads/<%= current_user[:id] %>/<%= current_user[:profile_picture] %>" style="width: 50px; height: 50px;">
      <% if current_user[:admin] && !current_user[:super_admin]%>
        <i id="admin-gear" class="fas fa-cog"></i>
      <% end %>
      <% if current_user[:super_admin] %>
        <i id="super-admin-crown" class="fas fa-crown"></i>
      <% end %>
    <% else %>
      <img id="user-image" src="https://cdn-icons-png.flaticon.com/512/149/149071.png" style="width: 50px; height: 50px;">
    <% end %>
  </div>

</div>
