<div id="sidebar-container" data-sidebar-links='<%= sidebar_links %>' data-admin-links='<%= admin_links %>'>
  <div class="sidebar-heading">
    <%= title %>
  </div>
  <% if current_user && current_user[:admin] %>
    <div class="list-group-item no-hover">
      <input type="checkbox" id="adminMenuCheckbox">
      <label for="adminMenuCheckbox"> Admin Menu </label>
    </div>
  <% end %>
  <div id="menuContainer">
    <% Array(sidebar_links).each do |link| %>
      <a href="/<%= link.fetch(:path,'') %>" class="list-group-item sidebar-link">
        <i class="<%= link.fetch(:icon,'') %>"></i>
        <%= link.fetch(:title,'') %>
      </a>
    <% end %>
  </div>
</div>
