<!DOCTYPE html>
<html>
  <head>
    <title>Cisco Vlahakis</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <% css_files = Dir.glob('./public/styles/*.css').map { |path| path.split('/').last } %>
    <% css_files.each do |file| %>
      <link rel="stylesheet" type="text/css" href="/styles/<%= file %>">
    <% end %>

  </head>

  <body>
    <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.1/firebase-firestore.js"></script> 

    <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="file">
      <input type="submit" value="Upload">
    </form>

    <script src="/firestore_client.js"></script>

    <%= @html_content %>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

    <% js_files = Dir.glob('./public/js/*.js').map { |path| path.split('/').last } %>
    <% js_files.each do |file| %>
      <script src="/js/<%= file %>"></script>
    <% end %>
    <script>
      window.onhashchange = function() {
        var decodedHash = decodeURIComponent(window.location.hash.substring(1));
        renderFragmentByHash(decodedHash);
      };
      
      function handleInitialHash() {
        if (window.location.hash) {
          var initialHash = decodeURIComponent(window.location.hash.substring(1));
          renderFragmentByHash(initialHash);
        } else {
          renderFragmentByHash();
        }
      }
      
      function renderFragmentByHash(hash) {
        var fragmentsData = <%= @fragments_data.to_json %>;
        var fragmentElement = document.getElementById('_fragment');
        
        if (fragmentElement) {
          var fragment = hash ? fragmentsData?.[hash] : null;
          if (fragment && fragment.content) {
            fragmentElement.innerHTML = fragment.content;
          } else {
            fragmentElement.innerHTML = '';
            if (hash) {
              console.error("Fragment not found for hash: " + hash);
            }
          }
        } else {
          console.error("The fragment element with ID '_fragment' does not exist.");
        }
      }

      document.addEventListener('DOMContentLoaded', function() {
        handleInitialHash();
        var componentScripts = <%= @component_scripts.to_json %>;
        componentScripts?.forEach(function(scriptName) {
          var script = document.createElement('script');
          script.src = '/gcs/' + scriptName + '.js';
          script.type = 'text/javascript';
          script.onerror = function() {
            console.error('Error loading script for component:', scriptName);
          };
          document.body.appendChild(script);
        });
      });
    </script>
  </body>
</html>
